In [84]:
#coding=utf-8
import tushare as ts
import akshare as ak
import pandas as pd
import talib
import time
import datetime
from opendatatools import swindex

ts.set_token('your code')
pro = ts.pro_api()

In [86]:
import baostock as bs
import pandas as pd

# 登陆系统
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

# 获取指数(综合指数、规模指数、一级行业指数、二级行业指数、策略指数、成长指数、价值指数、主题指数)K线数据
# 综合指数，例如：sh.000001 上证指数，sz.399106 深证综指 等；
# 规模指数，例如：sh.000016 上证50，sh.000300 沪深300，sh.000905 中证500，sz.399001 深证成指等；
# 一级行业指数，例如：sh.000037 上证医药，sz.399433 国证交运 等；
# 二级行业指数，例如：sh.000952 300地产，sz.399951 300银行 等；
# 策略指数，例如：sh.000050 50等权，sh.000982 500等权 等；
# 成长指数，例如：sz.399376 小盘成长 等；
# 价值指数，例如：sh.000029 180价值 等；
# 主题指数，例如：sh.000015 红利指数，sh.000063 上证周期 等；

# 详细指标参数，参见“历史行情指标参数”章节
rs = bs.query_history_k_data_plus("000906.sh",
    "date,code,open,high,low,close,preclose,volume,amount,pctChg",
    start_date='2014-01-01', end_date='2020-10-19', frequency="d")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

# 打印结果集
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)
result.to_csv("C:/quant/index/history_Index_k_data.csv", index=False)# 登出系统
bs.logout()

login success!
login respond error_code:0
login respond  error_msg:success
query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success
logout success!

In [87]:
#因为baostock出数据慢，手动输入当日数据后也能算MA

result=pd.read_csv("C:/quant/index/history_Index_k_data.csv")# 登出系统

ma5=talib.SMA(result.close,timeperiod=5)
ma10=talib.SMA(result.close,timeperiod=10)
ma20=talib.SMA(result.close,timeperiod=20)
ma30=talib.SMA(result.close,timeperiod=30)
ma60=talib.SMA(result.close,timeperiod=60)
ma120=talib.SMA(result.close,timeperiod=120)

ema5=talib.SMA(result.close,timeperiod=5)
ema10=talib.SMA(result.close,timeperiod=10)
ema20=talib.SMA(result.close,timeperiod=20)
ema30=talib.SMA(result.close,timeperiod=30)
ema60=talib.SMA(result.close,timeperiod=60)
ema120=talib.SMA(result.close,timeperiod=120)


result['MA5']=ma5
result['MA10']=ma10
result['MA20']=ma20
result['MA30']=ma30
result['MA60']=ma60
result['MA120']=ma120
result['EMA5']=ema5
result['EMA10']=ema10
result['EMA20']=ema20
result['EMA30']=ema30
result['EMA60']=ema60
result['EMA120']=ema120


# 结果集输出到csv文件
result.to_csv("C:/quant/index/history_Index_k_data.csv", index=False)
print(result)

# 登出系统
bs.logout()

            date       code       open       high        low      close  \
0     2014-01-02  sh.000906  2582.9100  2586.9400  2570.9500  2586.0200
1     2014-01-03  sh.000906  2576.6100  2579.2900  2544.5900  2554.8000
2     2014-01-06  sh.000906  2549.4700  2549.4700  2487.0700  2493.4000
3     2014-01-07  sh.000906  2478.0200  2504.6600  2473.2700  2496.8600
4     2014-01-08  sh.000906  2499.3500  2523.1300  2488.0000  2500.8800
...          ...        ...        ...        ...        ...        ...
1649  2020-10-13  sh.000906  5094.9634  5124.9191  5072.6562  5118.4224
1650  2020-10-14  sh.000906  5110.7403  5110.7403  5074.1579  5084.5531
1651  2020-10-15  sh.000906  5088.0130  5106.4244  5067.0520  5068.7024
1652  2020-10-16  sh.000906  5068.2217  5091.8434  5028.9280  5057.1101
1653  2020-10-19  sh.000906  5089.7820  5112.9990  5005.9923  5014.7910

       preclose       volume        amount    pctChg  ...         MA20  \
0     2589.3500   7599455200  8.043002e+10 -0.128607  ...          NaN
1     2586.0200   9460020800  9.359134e+10 -1.207259  ...          NaN
2     2554.8000  10081227200  9.306843e+10 -2.403325  ...          NaN
3     2493.4000   7096172800  7.015324e+10  0.138775  ...          NaN
4     2496.8600   8329229600  8.328050e+10  0.160993  ...          NaN
...         ...          ...           ...       ...  ...          ...
1649  5103.6291  22807478800  3.724564e+11  0.289858  ...  4932.308405
1650  5118.4224  23053652700  3.633762e+11 -0.661714  ...  4936.668100
1651  5084.5531  21696921300  3.294742e+11 -0.311742  ...  4946.299455
1652  5068.7024  21544812400  3.132217e+11 -0.228704  ...  4956.530150
1653  5057.1101  23291472400  3.400751e+11 -0.836824  ...  4962.106545

             MA30         MA60        MA120        EMA5       EMA10  \
0             NaN          NaN          NaN         NaN         NaN
1             NaN          NaN          NaN         NaN         NaN
2             NaN          NaN          NaN         NaN         NaN
3             NaN          NaN          NaN         NaN         NaN
4             NaN          NaN          NaN  2526.39200         NaN
...           ...          ...          ...         ...         ...
1649  4983.580227  4995.995543  4651.243097  4976.98770  4926.61278
1650  4983.878037  4995.057785  4659.723499  5022.08344  4943.17944
1651  4985.937447  4995.219290  4668.291773  5066.08790  4956.20171
1652  4986.603167  4999.241783  4676.652633  5086.48342  4978.00833
1653  4982.131897  5002.101307  4684.412179  5068.71580  4995.17212

            EMA20        EMA30        EMA60       EMA120
0             NaN          NaN          NaN          NaN
1             NaN          NaN          NaN          NaN
2             NaN          NaN          NaN          NaN
3             NaN          NaN          NaN          NaN
4             NaN          NaN          NaN          NaN
...           ...          ...          ...          ...
1649  4932.308405  4983.580227  4995.995543  4651.243097
1650  4936.668100  4983.878037  4995.057785  4659.723499
1651  4946.299455  4985.937447  4995.219290  4668.291773
1652  4956.530150  4986.603167  4999.241783  4676.652633
1653  4962.106545  4982.131897  5002.101307  4684.412179

[1654 rows x 22 columns]
logout failed!

In [88]:

pool = pro.stock_basic()
pool.head(5)
writer = pd.ExcelWriter('C:/quant/list/list.xlsx') 
pool.to_excel(writer,'Sheet1')
writer.save()
writer.close()

In [89]:
#从申银模块获取行业列表
SWf, msg = swindex.get_index_list()
S1=SWf.loc[SWf['section_name']=='一级行业']
#lc.loc[lc["grade"] == "B"].head()

In [90]:
#从申银端口通过刚才过滤的一级行业列表获取数据
allindex = pd.DataFrame() 

for i in S1.index_code:
    time.sleep(0.75)
    X=str(i)
    df2, msg = swindex.get_index_daily(X,start_date=20200101,end_date=20201019)
    #df2.to_csv(r'C:/quant/index/2020/SW/'+X+'.csv',index=False,encoding='utf-8-sig') 

    allindex = allindex.append(df2)
allindex = allindex.sort_values(by=['index_code','date'],axis=0,ascending=[True,True])

http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801010') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801020') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801030') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801040') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801050') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801080') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801110') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801120') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801130') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801140') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801150') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801160') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801170') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801180') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801200') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801210') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801230') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801710') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801720') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801730') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801740') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801750') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801760') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801770') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801780') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801790') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801880') and BargainDate >= '20200101' and BargainDate <= '20201019'
http://www.swsindex.com/excel2.aspx?ctable=swindexhistory&where= swindexcode in ('801890') and BargainDate >= '20200101' and BargainDate <= '20201019'

In [91]:
#申银源数据格式不对，转换格式
allindex['open']=allindex['open'].astype("float")
allindex['high']=allindex['high'].astype("float")
allindex['low']=allindex['low'].astype("float")
allindex['close']=allindex['close'].astype("float")
allindex['vol']=allindex['vol'].astype("float")
allindex['amount']=allindex['amount'].astype("float")
allindex['change_pct']=allindex['change_pct'].astype("float")
allindex.isnull().sum()

index_code    0
index_name    0
date          0
open          0
high          0
low           0
close         0
vol           0
amount        0
change_pct    0
dtype: int64

In [92]:
#计算申银行业指数MA，MACD
from scipy.stats import rankdata
swsf=allindex[allindex['index_code'].notna()]

close=swsf.close.values
swsf.date=swsf.date.values

diff, dea, my_macd = talib.MACD(close,
                                             fastperiod=12,
                                             slowperiod=26,
#获取均线的数据，通过timeperiod参数来分别获取 5,10,20 日均线的数据。
                                             signalperiod=9)
SMA5=talib.SMA(close,timeperiod=5)
SMA10=talib.SMA(close,timeperiod=10)
SMA20=talib.SMA(close,timeperiod=20)
SMA60=talib.SMA(close,timeperiod=60)
SMA120=talib.SMA(close,timeperiod=120)
SMA350=talib.SMA(close,timeperiod=350)

EMA5=talib.EMA(close,timeperiod=5)
EMA10=talib.EMA(close,timeperiod=10)
EMA20=talib.EMA(close,timeperiod=20)
EMA60=talib.EMA(close,timeperiod=60)
EMA120=talib.EMA(close,timeperiod=120)

swsf['diff']=diff
swsf['dea']=dea
swsf['MACD']=my_macd
swsf['SMA5']=SMA5
swsf['SMA10']=SMA10
swsf['SMA20']=SMA20
swsf['SMA60']=SMA60
swsf['SMA120']=SMA120
swsf['SMA350']=SMA350

swsf['EMA5']=EMA5
swsf['EMA10']=EMA10
swsf['EMA60']=EMA60
swsf['EMA120']=EMA120

swsf['EMA20']=EMA20
swsf['SMACD-K']=(diff-dea)/dea
swsf['C/S']=(close/SMA20-1)*100
swsf['M/L']=(SMA60/SMA120-1)*100
swsf['S/M']=(SMA20/SMA60-1)*100
swsf['BreakSignal-20D']=close/EMA20-1
swsf.reset_index(drop=True, inplace=True)

swsf['dailyamount']=swsf.groupby('date')['amount'].sum()
swsf['indexamount']=swsf.amount/swsf.dailyamount


swsf.loc[swsf['index_code'] == swsf['index_code'].shift(1),'Chg1D']= (swsf.close/swsf.close.shift(1)-1)*100
swsf.loc[swsf['index_code'] == swsf['index_code'].shift(4),'Chg5D']= (swsf.close/swsf.close.shift(4)-1)*100
swsf.loc[swsf['index_code'] == swsf['index_code'].shift(19),'Chg20D']= (swsf.close/swsf.close.shift(19)-1)*100

swsf.fillna(0,inplace=True) #去除null
swsf.loc[(swsf['close']>swsf['EMA20']) & (swsf['close']>swsf['SMA20']) & (swsf['SMA20']>swsf['SMA20'].shift(19)),'K1']=1 #破线拐头
swsf.loc[(swsf['EMA20']>swsf['EMA60']) & (swsf['close']>swsf['EMA20'].shift(19)),'K2']=1 #双均线交叉
swsf.loc[(swsf['EMA20']>swsf['SMA60']) & (swsf['close']>swsf['EMA20'].shift(19)),'K3']=1 
swsf.loc[(swsf['SMA20']>swsf['EMA60']) & (swsf['close']>swsf['SMA20'].shift(19)),'K4']=1 
swsf.loc[(swsf['SMA20']>swsf['SMA60']) & (swsf['close']>swsf['SMA20'].shift(19)),'K5']=1 

swsf.loc[(swsf['close']<swsf['EMA20']) & (swsf['close']<swsf['SMA20']) & (swsf['SMA20']<swsf['SMA20'].shift(19)),'K1']=-1 #空头方向破线拐头
swsf.loc[(swsf['EMA20']<swsf['EMA60']) & (swsf['close']<swsf['EMA20'].shift(19)),'K2']=-1 #双均线交叉
swsf.loc[(swsf['EMA20']<swsf['SMA60']) & (swsf['close']<swsf['EMA20'].shift(19)),'K3']=-1 
swsf.loc[(swsf['SMA20']<swsf['EMA60']) & (swsf['close']<swsf['SMA20'].shift(19)),'K4']=-1 
swsf.loc[(swsf['SMA20']<swsf['SMA60']) & (swsf['close']<swsf['SMA20'].shift(19)),'K5']=-1 
swsf.fillna(0,inplace=True) #去除null
swsf['Indextrendscore-L']=(swsf.K1+swsf.K2+swsf.K3+swsf.K4+swsf.K5)

swsf.head(10)
#swsf.to_csv('C:/quant/index/SWoutput.csv',index=False,encoding='utf-8-sig')

,index_code,index_name,date,open,high,low,close,vol,amount,change_pct,...,indexamount,Chg1D,Chg5D,Chg20D,K1,K2,K3,K4,K5,Indextrendscore-L
0,801010,农林牧渔,2020-01-02,3347.27,3408.34,3345.43,3394.96,16.96,210.61,2.63,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,801010,农林牧渔,2020-01-03,3420.59,3436.81,3392.78,3425.51,18.30,195.75,0.90,...,0.0,0.899863,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,801010,农林牧渔,2020-01-06,3426.80,3509.56,3426.74,3494.01,20.19,205.22,2.00,...,0.0,1.999702,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,801010,农林牧渔,2020-01-07,3531.88,3647.21,3530.23,3624.72,23.28,306.57,3.74,...,0.0,3.740974,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,801010,农林牧渔,2020-01-08,3634.48,3642.81,3559.93,3559.93,22.49,275.67,-1.79,...,0.0,-1.787448,4.859262,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,801010,农林牧渔,2020-01-09,3582.81,3606.12,3547.75,3566.77,22.31,237.45,0.19,...,0.0,0.192139,4.123766,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,801010,农林牧渔,2020-01-10,3565.13,3565.14,3487.57,3493.82,18.88,207.00,-2.05,...,0.0,-2.045268,-0.005438,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,801010,农林牧渔,2020-01-13,3480.89,3517.73,3470.31,3517.73,16.26,180.90,0.68,...,0.0,0.684351,-2.951676,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,801010,农林牧渔,2020-01-14,3515.16,3546.22,3494.20,3520.44,19.85,213.92,0.08,...,0.0,0.077038,-1.109291,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,801010,农林牧渔,2020-01-15,3538.07,3538.08,3458.79,3466.91,14.60,169.30,-1.52,...,0.0,-1.520549,-2.799732,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:

#从TUSHARE获取申万一级行业列表及其对应股票
Sdf1 = pro.index_classify(level='L1', src='SW')
Sdf1.to_csv('C:/quant/swsindex/L1.csv',index=False,encoding='utf-8-sig') 
#获取申万二级行业列表
Sdf2 = pro.index_classify(level='L2', src='SW')
Sdf2.to_csv('C:/quant/swsindex/L2.csv',index=False,encoding='utf-8-sig')

#获取申万三级级行业列表
Sdf3 = pro.index_classify(level='L3', src='SW')
Sdf3.to_csv('C:/quant/swsindex/L3.csv',index=False,encoding='utf-8-sig') 

#Sdf3.head(10)
#SW1=pd.merge(Sdf1,Sdf2,how='right',on=['index_code','index_code'])
#SW2=pd.merge(SW1,Sdf2,how='right',on=['index_code','index_code'])

In [94]:

#从TUSHARE端口获取成分股
ISindex = pd.DataFrame() 

for i in Sdf1.index_code:
    time.sleep(0.7)
    Tf=pro.index_member(index_code=i)    
    ISindex = ISindex.append(Tf)

ISindex.to_csv(r'C:/quant/swsindex/total.csv') 
ISindex.rename(columns={'con_code':'ts_code'}, inplace = True)
ISindex=pd.merge(ISindex,Sdf1,how='left',on='index_code')
ISindex=ISindex.drop(["in_date",'out_date','level'],axis=1)

ISindex

     index_code    ts_code industry_name
0     801020.SI  600348.SH            采掘
1     801020.SI  600121.SH            采掘
2     801020.SI  600157.SH            采掘
3     801020.SI  600792.SH            采掘
4     801020.SI  600123.SH            采掘
...         ...        ...           ...
3730  801230.SI  600175.SH            综合
3731  801230.SI  600149.SH            综合
3732  801230.SI  600234.SH            综合
3733  801230.SI  300688.SZ            综合
3734  801230.SI  603183.SH            综合

[3735 rows x 3 columns]

In [95]:
latestday=max(swsf.date)
ETF=swsf[swsf.date==latestday]
ETF=ETF[['index_code','K1','Indextrendscore-L']]
ISindex['index_code']=ISindex['index_code'].str.split('.', 2).str[0]

ISindex2 = pd.merge(ISindex, ETF, how='left',on='index_code') #分段信息
ISindex2

     index_code    ts_code industry_name   K1  Indextrendscore-L
0        801020  600348.SH            采掘  0.0               -1.0
1        801020  600121.SH            采掘  0.0               -1.0
2        801020  600157.SH            采掘  0.0               -1.0
3        801020  600792.SH            采掘  0.0               -1.0
4        801020  600123.SH            采掘  0.0               -1.0
...         ...        ...           ...  ...                ...
3730     801230  600175.SH            综合  0.0               -4.0
3731     801230  600149.SH            综合  0.0               -4.0
3732     801230  600234.SH            综合  0.0               -4.0
3733     801230  300688.SZ            综合  0.0               -4.0
3734     801230  603183.SH            综合  0.0               -4.0

[3735 rows x 5 columns]

In [105]:

#从tushare下载日数据

for i in range(20200922,20200932):
    time.sleep(0.75)
    print (i) 
    x=str(i)
    df = pro.daily(trade_date=x) #个股数据
    Adf = pro.query('adj_factor', trade_date=x) #复权因子
    Adf.rename(columns={'trade_date':'trade_date_x'}, inplace = True)
    Adf.adj_factor.fillna(0)


    Mdf = pro.moneyflow(trade_date=x) #个股资金流向，出韭菜指数
    X1=pd.merge(df,Mdf,on='ts_code')
    X1=pd.merge(X1,Adf,on=['ts_code','trade_date_x'])

    mf = pro.margin(trade_date=x)#融资融券数据
    GCdf = pro.repo_daily(ts_code='204001.sh',trade_date=x) # 逆回购数据
    #HSdf = pro.repo_daily(ts_code='000906.sh',trade_date=x) # 逆回购数据

    #X2=pd.merge(mf,GCdf,on='trade_date')

    #df2 = pro.index_dailybasic(start_date=x,fields='ts_code,trade_date,turnover_rate,pe,pe_ttm')
    #pe = df2['pe_ttm']


    writer1 = X1.to_csv('C:/quant/daydate/2020/'+x + '.csv') 
    writer2 = GCdf.to_csv('C:/quant/GCdata/2020/'+x + '.csv') 
    writer3 = mf.to_csv('C:/quant/financing/2020/'+x + '.csv') #要晚一天出，所以不能合并
    #writer4 = HSdf.to_csv('C:/quant/index/2020/'+x + '.csv') #要晚一天出，所以不能合并


   # df.to_csv(writer)
  #  writer.save()
   # writer.close()

20200922
20200923
20200924
20200925
20200926
20200927
20200928
20200929
20200930
20200931

In [106]:
import pandas as pd
import datetime
import numpy as np
from os import walk
for root,dirs,files in walk(r'C:/quant/daydate/2020/',topdown=False):
    num = len(files)
    alldata = pd.DataFrame() 
for i in range(num):
    newdata = pd.read_csv(r'C:/quant/daydate/2020/%s'%files[i])
    
    alldata = alldata.append(newdata)
alldata = alldata.sort_values(by=['ts_code','trade_date_x'],axis=0,ascending=[True,True])
alldata.reset_index(drop=True, inplace=True)

In [109]:
latestday=alldata.trade_date_x.max()
alldata.loc[alldata['trade_date_x']==latestday,'now_adj']=alldata['adj_factor'] # 最新复权因子
alldata.now_adj=alldata.now_adj.fillna(method='bfill')

#alldata.loc[alldata['ts_code']==alldata['ts_code'].shift(1),'now_adj']=alldata.now_adj.shift(1) # 最新复权因子

alldata['close_qfq'] = alldata['close'] * alldata['adj_factor'] / alldata.now_adj  # 前复权 当日收盘价 × 当日复权因子 / 最新复权因子
alldata.to_csv('C:/quant/index/2020/test.csv') 
alldata.shape
alldata

,Unnamed: 0,open,high,low,close,pre_close,change,pct_chg,vol,amount,...,buy_elg_amount,sell_elg_vol,sell_elg_amount,net_mf_vol,net_mf_amount,ts_code,trade_date_x,adj_factor,now_adj,close_qfq
0,2935,16.65,16.95,16.55,16.87,16.45,0.42,2.5532,1530231.87,2571196.482,...,101102.47,606070,101705.05,143254,24246.44,000001.SZ,20200102,109.169,111.048,16.584549
1,49,16.94,17.31,16.92,17.18,16.87,0.31,1.8376,1116194.81,1914495.474,...,84137.06,301220,51703.29,209152,36004.28,000001.SZ,20200103,109.169,111.048,16.889304
2,676,17.01,17.34,16.91,17.07,17.18,-0.11,-0.6403,862083.50,1477930.193,...,43020.67,243151,41713.52,-66447,-11242.28,000001.SZ,20200106,109.169,111.048,16.781165
3,583,17.13,17.28,16.95,17.15,17.07,0.08,0.4687,728607.56,1247047.135,...,23499.73,165043,28243.25,13185,2360.01,000001.SZ,20200107,109.169,111.048,16.859812
4,2738,17.00,17.05,16.63,16.66,17.15,-0.49,-2.8571,847824.12,1423608.811,...,36629.78,277295,46547.42,-297399,-49932.23,000001.SZ,20200108,109.169,111.048,16.378103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730249,1189,56.60,57.74,55.93,57.29,57.41,-0.12,-0.2090,445690.09,2535942.845,...,48440.72,102583,58278.60,19991,11637.66,688981.SH,20201013,1.000,1.000,57.290000
730250,1608,57.30,57.45,55.77,55.96,57.29,-1.33,-2.3215,288843.19,1626497.155,...,18790.32,49878,28051.07,-49135,-27660.12,688981.SH,20201014,1.000,1.000,55.960000
730251,924,56.20,59.86,56.20,57.30,55.96,1.34,2.3946,565421.40,3296259.678,...,62303.30,112088,65113.78,13053,7572.38,688981.SH,20201015,1.000,1.000,57.300000
730252,3592,59.50,59.86,57.70,58.21,57.30,0.91,1.5881,380308.20,2224178.011,...,45087.85,77479,45338.53,-15193,-8885.10,688981.SH,20201016,1.000,1.000,58.210000
730253,1121,58.49,61.10,57.76,60.28,58.21,2.07,3.5561,590069.12,3529811.192,...,85537.98,90525,54049.16,118162,70756.88,688981.SH,20201019,1.000,1.000,60.280000

In [110]:
from scipy.stats import rankdata
df=alldata[alldata['ts_code'].notna()]

close=df.close_qfq
diff, dea, my_macd = talib.MACD(close,
                                             fastperiod=12,
                                             slowperiod=26,
#获取均线的数据，通过timeperiod参数来分别获取 5,10,20 日均线的数据。
                                             signalperiod=9)
SMA5=talib.SMA(close,timeperiod=5)
SMA10=talib.SMA(close,timeperiod=10)
SMA20=talib.SMA(close,timeperiod=20)
SMA60=talib.SMA(close,timeperiod=60)
SMA120=talib.SMA(close,timeperiod=120)

EMA5=talib.EMA(close,timeperiod=5)
EMA10=talib.EMA(close,timeperiod=10)
EMA20=talib.EMA(close,timeperiod=20)
EMA60=talib.EMA(close,timeperiod=60)
EMA120=talib.EMA(close,timeperiod=120)

df['diff']=diff
df['dea']=dea
df['MACD']=my_macd
df['SMA5']=SMA5
df['SMA10']=SMA10
df['SMA20']=SMA20
df['SMA60']=SMA60
df['SMA120']=SMA120

df['EMA5']=EMA5
df['EMA10']=EMA10
df['EMA60']=EMA60
df['EMA120']=EMA120

df['EMA20']=EMA20
df['SMACD-K']=(diff-dea)/dea
df['C/S']=(close/SMA20-1)*100
df['M/L']=(SMA60/SMA120-1)*100
df['S/M']=(SMA20/SMA60-1)*100
df.reset_index(drop=True, inplace=True)

df.loc[df['ts_code'] == df['ts_code'].shift(4),'Chg5D']= (df.close_qfq/df.close_qfq.shift(4)-1)*100
df.loc[df['ts_code'] == df['ts_code'].shift(19),'Chg20D']= (df.close_qfq/df.close_qfq.shift(19)-1)*100



df['ATR'] = talib.ATR(df.high.values,df.low.values,df.pre_close.values, timeperiod=20)


df.fillna(0,inplace=True) #去除null
df.loc[(df['close_qfq']>df['EMA20']) & (df['close_qfq']>df['SMA20']) & (df['SMA20']>df['SMA20'].shift(19)),'kl1']=1 #破线拐头
df.loc[(df['EMA20']>df['EMA60']) & (df['close_qfq']>df['EMA20'].shift(19)),'K2']=1 #双均线交叉
df.loc[(df['EMA20']>df['SMA60']) & (df['close_qfq']>df['EMA20'].shift(19)),'K3']=1 
df.loc[(df['SMA20']>df['EMA60']) & (df['close_qfq']>df['SMA20'].shift(19)),'K4']=1 
df.loc[(df['SMA20']>df['SMA60']) & (df['close_qfq']>df['SMA20'].shift(19)),'K5']=1 

df.loc[(df['close_qfq']<df['EMA20']) & (df['close_qfq']<df['SMA20']) & (df['SMA20']<df['SMA20'].shift(19)),'kl1']=-1 #空头方向破线拐头
df.loc[(df['EMA20']<df['EMA60']) & (df['close_qfq']<df['EMA20'].shift(19)),'K2']=-1 #双均线交叉
df.loc[(df['EMA20']<df['SMA60']) & (df['close_qfq']<df['EMA20'].shift(19)),'K3']=-1 
df.loc[(df['SMA20']<df['EMA60']) & (df['close_qfq']<df['SMA20'].shift(19)),'K4']=-1 
df.loc[(df['SMA20']<df['SMA60']) & (df['close_qfq']<df['SMA20'].shift(19)),'K5']=-1 
df.fillna(0,inplace=True) #去除null
df['trendscore-L']=(df.kl1+df.K2+df.K3+df.K4+df.K5)

df.loc[(df['close_qfq']>df['EMA10']) & (df['close_qfq']>df['SMA10']) & (df['SMA10']>df['SMA10'].shift(19)),'ks1']=1 #破线拐头
df.loc[(df['EMA10']>df['EMA20']) & (df['close_qfq']>df['EMA10'].shift(19)),'KK2']=1 #双均线交叉
df.loc[(df['EMA10']>df['SMA20']) & (df['close_qfq']>df['EMA10'].shift(19)),'KK3']=1 
df.loc[(df['SMA10']>df['EMA20']) & (df['close_qfq']>df['SMA10'].shift(19)),'KK4']=1 
df.loc[(df['SMA10']>df['SMA20']) & (df['close_qfq']>df['SMA10'].shift(19)),'KK5']=1 

df.loc[(df['close_qfq']<df['EMA10']) & (df['close_qfq']<df['SMA10']) & (df['SMA10']<df['SMA10'].shift(19)),'ks1']=-1 #空头方向破线拐头
df.loc[(df['EMA10']<df['EMA20']) & (df['close_qfq']<df['EMA10'].shift(19)),'KK2']=-1 #双均线交叉
df.loc[(df['EMA10']<df['SMA20']) & (df['close_qfq']<df['EMA10'].shift(19)),'KK3']=-1 
df.loc[(df['SMA10']<df['EMA20']) & (df['close_qfq']<df['SMA10'].shift(19)),'KK4']=-1 
df.loc[(df['SMA10']<df['SMA20']) & (df['close_qfq']<df['SMA10'].shift(19)),'KK5']=-1 
df.fillna(0,inplace=True) #去除null
df['trendscore-S']=(df.ks1+df.KK2+df.KK3+df.KK4+df.KK5)
df = pd.merge(df, ISindex, how='left',on='ts_code') 

df=df[['trade_date_x','ts_code','close_qfq','amount','pct_chg','ATR','Chg5D','Chg20D','C/S','S/M','M/L','index_code','ks1','kl1','trendscore-S','trendscore-L']]

df.head(10)
df.shape

,trade_date_x,ts_code,close_qfq,amount,pct_chg,ATR,Chg5D,Chg20D,C/S,S/M,M/L,index_code,ks1,kl1,trendscore-S,trendscore-L
0,20200102,000001.SZ,16.584549,2571196.482,2.5532,0.0,0.000000,0.0,0.0,0.0,0.0,801780,0.0,0.0,0.0,0.0
1,20200103,000001.SZ,16.889304,1914495.474,1.8376,0.0,0.000000,0.0,0.0,0.0,0.0,801780,0.0,0.0,0.0,0.0
2,20200106,000001.SZ,16.781165,1477930.193,-0.6403,0.0,0.000000,0.0,0.0,0.0,0.0,801780,0.0,0.0,0.0,0.0
3,20200107,000001.SZ,16.859812,1247047.135,0.4687,0.0,0.000000,0.0,0.0,0.0,0.0,801780,0.0,0.0,0.0,0.0
4,20200108,000001.SZ,16.378103,1423608.811,-2.8571,0.0,-1.244813,0.0,0.0,0.0,0.0,801780,0.0,0.0,0.0,0.0
5,20200109,000001.SZ,16.505903,1725326.806,0.7803,0.0,-2.270081,0.0,0.0,0.0,0.0,801780,0.0,0.0,0.0,0.0
6,20200110,000001.SZ,16.407595,975154.818,-0.5956,0.0,-2.226128,0.0,0.0,0.0,0.0,801780,0.0,0.0,0.0,0.0
7,20200113,000001.SZ,16.702519,1468271.683,1.7975,0.0,-0.932945,0.0,0.0,0.0,0.0,801780,0.0,0.0,0.0,0.0
8,20200114,000001.SZ,16.476411,2217608.852,-1.3537,0.0,0.600240,0.0,0.0,0.0,0.0,801780,0.0,0.0,0.0,0.0
9,20200115,000001.SZ,16.240472,1424889.228,-1.4320,0.0,-1.608100,0.0,0.0,0.0,0.0,801780,0.0,0.0,0.0,0.0

In [127]:
latestday=max(df.trade_date_x)
valve=150000   #以1亿5000万元为界限，150000K
df2=df[(df.trade_date_x==latestday) & (df.amount > valve)]
df2=pd.merge(df2,pool,how='left',on='ts_code')
df2=df2.drop(df2.columns[-4:],axis=1)
df2=df2.drop(df2.columns[-2:-1],axis=1)
df2=pd.merge(df2,ISindex2,how='left',on='ts_code')

df2

,trade_date_x,ts_code,close_qfq,amount,pct_chg,ATR,Chg5D,Chg20D,C/S,S/M,...,index_code_x,ks1,kl1,trendscore-S,trendscore-L,name,index_code_y,industry_name,K1,Indextrendscore-L
0,20201019,000001.SZ,17.48,3571336.006,2.2222,0.657041,8.841843,14.248366,11.093457,5.886114,...,801780,1.0,1.0,5.0,5.0,平安银行,801780,银行,0.0,4.0
1,20201019,000002.SZ,27.74,3101786.451,-0.4307,0.792062,-0.893176,0.144404,-1.589329,2.572664,...,801180,0.0,0.0,-4.0,4.0,万科A,801180,房地产,-1.0,-5.0
2,20201019,000004.SZ,25.85,209331.736,6.3786,1.282483,8.023402,11.518550,8.652250,-8.111953,...,801150,1.0,0.0,4.0,0.0,国农科技,801150,医药生物,0.0,-3.0
3,20201019,000009.SZ,7.70,324041.259,-1.1553,0.368739,-2.654867,7.391911,4.187809,-6.698239,...,801230,1.0,0.0,5.0,0.0,中国宝安,801230,综合,0.0,-4.0
4,20201019,000011.SZ,16.88,174262.250,0.6559,1.661523,-13.480267,2.989628,-4.829025,-18.884866,...,801180,0.0,-1.0,-3.0,-5.0,深物业A,801180,房地产,-1.0,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,20201019,688536.SH,293.08,213539.523,0.4146,24.159775,-5.152104,0.000000,41.968267,144.526767,...,NaN,1.0,1.0,5.0,5.0,思瑞浦,NaN,NaN,NaN,NaN
1183,20201019,688567.SH,30.88,212667.647,2.2855,2.075261,2.015197,15.223881,9.060729,4.411557,...,NaN,1.0,1.0,5.0,3.0,孚能科技,NaN,NaN,NaN,NaN
1184,20201019,688595.SH,65.19,358875.573,-6.8714,6.862394,-5.862816,0.000000,8.411495,3.945583,...,NaN,0.0,1.0,4.0,5.0,芯海科技,NaN,NaN,NaN,NaN
1185,20201019,688599.SH,16.82,182328.762,-0.7670,0.957358,-2.322880,7.751441,2.439173,-0.088995,...,NaN,0.0,1.0,4.0,2.0,天合光能,NaN,NaN,NaN,NaN
1186,20201019,688981.SH,60.28,3529811.192,3.5561,3.806482,5.219061,9.839650,8.890234,-16.554829,...,NaN,0.0,0.0,1.0,-4.0,中芯国际-U,NaN,NaN,NaN,NaN

In [130]:
#找长期，中期乖离率高，但短期下杀严重，趋势却走好的
DF=df2[(df2['C/S']<0) & (df2['S/M']>5) & (df2['M/L']> 5) & (df2['trendscore-S']>=3) & (df2['ks1']==1)]
DF

,trade_date_x,ts_code,close_qfq,amount,pct_chg,ATR,Chg5D,Chg20D,C/S,S/M,...,index_code_x,ks1,kl1,trendscore-S,trendscore-L,name,index_code_y,industry_name,K1,Indextrendscore-L
407,20201019,300128.SZ,4.89,434519.542,4.0426,0.463186,-5.232558,21.339950,-1.589857,24.281963,...,801080,1.0,0.0,3.0,4.0,锦富技术,801080,电子,-1.0,-4.0
435,20201019,300185.SZ,5.13,1165371.792,1.3834,0.574988,-4.646840,-20.588235,-0.907862,34.987615,...,801730,1.0,0.0,3.0,4.0,通裕重工,801730,电气设备,1.0,5.0
495,20201019,300313.SZ,22.93,436129.822,-1.4611,3.381688,-8.971814,42.599502,-1.031551,99.523488,...,801010,1.0,0.0,3.0,4.0,天山生物,801010,农林牧渔,-1.0,-5.0
763,20201019,300887.SZ,98.75,313638.940,1.2613,11.613668,3.403141,0.000000,-0.033407,44.980223,...,NaN,1.0,0.0,3.0,4.0,谱尼测试,NaN,NaN,NaN,NaN

In [34]:
#writer = pd.ExcelWriter(r'C:/quant/output/combinedoutput.csv')
df2.to_csv(r'C:/quant/output/dailyoutput.csv')
#这里“AllData”是sheet的名字
#writer.save()#执行完这一步之后，合并后的表格就保存在了C:\Users\output.xls中

In [ ]:
#美债利率

#获取5年期和20年期数据
Udf = pro.us_tltr(start_date='20180101', end_date='20200907', fields='ltc,cmt')
Udf.to_csv("C:/quant/index/UDF.csv", index=False)

In [ ]:
#可转债
EEf = pro.cb_daily(trade_date='20200821')

EFF= pro.cb_basic(fields="ts_code,bond_short_name,stk_code,stk_short_name,list_date,delist_date")   

    


EFF.to_csv(r'C:/quant/debt/2020/20200821.csv',index=False,encoding='utf-8-sig')