In [1]:
import talib
import numpy as np
import pandas as pd
import yfinance as yf
import time
import datetime

In [2]:
df=pd.read_excel('C:/quant/list/USlist2.xlsx','Stock') 
ETF=pd.read_excel('C:/quant/list/USlist2.xlsx','ETF') 

height,width = df.shape

In [3]:

#从yfinance下载日数据

for i in df.code:
    time.sleep(0.7)
    ticket=yf.Ticker(i)
    hist=ticket.history(period="1y")
    hist['ts_code']=i
    
   # writer = pd.ExcelWriter('C:/quant/USdaydate/'+ i + '.xlsx') 
    writer = hist.to_csv('C:/quant/USdaydate/Stock/'+i + '.csv') 

    hist.to_csv(writer)
    print(i)
    #writer.save()
    #writer.close()

AAPL
ADBE
AMD
AMED
AMZN
API
ASML
BIIB
BILI
BKNG
BYND
CMCSA
COST
CSCO
DXCM
FB
GOOG
GOOGL
INTC
IRBT
JD
LULU
LYFT
MNST
MSFT
NFLX
NVDA
PDD
PEP
PYPL
QCOM
SBUX
SEDG
SFIX
SPCE
SY
TSLA
TXN
ULTA
ZM
ABT
ACN
AIG
BA
BABA
BAC
BBY
BK
BLK
BMY
C
COF
COP
CRM
DD
DIS
DOW
DUK
EL
FDX
FND
G
GE
GOOS
GRUB
GS
HD
HOG
IBM
JNJ
JPM
KO
MA
MCD
MET
MKC
MMM
MRK
MSCI
NEE
NKE
OMF
ORCL
OXY
PFE
PG
RACE
RTX
SHOP
SLB
SO
SQ
SPOT
T
TIF
TMO
TSM
TWTR
UNH
UPS
V
VZ
WMT
WORK
XOM
YUMC
VTI

In [4]:
import pandas as pd
import datetime
import numpy as np
from os import walk
for root,dirs,files in walk(r'C:/quant/USdaydate/Stock',topdown=False):
    print(files)#这里我们可以得到所有的文件名称，files是个list
num = len(files)#改文件夹下所有文件的总数量
alldata = pd.DataFrame() #建立一个空的dataframe
for i in range(num):
    newdata = pd.read_csv(r'C:/quant/USdaydate/Stock/%s'%files[i])#读取每个excel文件中的数据
    alldata = alldata.append(newdata)#将每个excel中的数据存储到之前建好的空的dataframe中
alldata = alldata.sort_values(by=['ts_code','Date'],axis=0,ascending=[True,True])
alldata.fillna(0,inplace=True) #去除null

alldata.head(10)

['AAPL.csv', 'ABT.csv', 'ACN.csv', 'ADBE.csv', 'AHD.csv', 'AIG.csv', 'AMD.csv', 'AMED.csv', 'AMZN.csv', 'API.csv', 'ASML.csv', 'BA.csv', 'BABA.csv', 'BAC.csv', 'BBY.csv', 'BIIB.csv', 'BILI.csv', 'BK.csv', 'BKNG.csv', 'BLK.csv', 'BMY.csv', 'BRK.B.csv', 'BYND.csv', 'C.csv', 'CAD.csv', 'CMCSA.csv', 'COF.csv', 'COP.csv', 'COPX.csv', 'COST.csv', 'CRM.csv', 'CSCO.csv', 'DD.csv', 'DIS.csv', 'DOW.csv', 'DUK.csv', 'DXCM.csv', 'EL.csv', 'FB.csv', 'FDX.csv', 'FND.csv', 'G.csv', 'GC.csv', 'GE.csv', 'GLD.csv', 'GOOG.csv', 'GOOGL.csv', 'GOOS.csv', 'GRUB.csv', 'GS.csv', 'HD.csv', 'HG.csv', 'HOG.csv', 'IBM.csv', 'INTC.csv', 'IRBT.csv', 'JD.csv', 'JNJ.csv', 'JPM.csv', 'KO.csv', 'LULU.csv', 'LYFT.csv', 'MA.csv', 'MCD.csv', 'MET.csv', 'MKC.csv', 'MMM.csv', 'MNST.csv', 'MRK.csv', 'MSCI.csv', 'MSFT.csv', 'NEE.csv', 'NFLX.csv', 'NKE.csv', 'NVDA.csv', 'OIL.csv', 'OMF.csv', 'ORCL.csv', 'OXY.csv', 'PDD.csv', 'PEP.csv', 'PFE.csv', 'PG.csv', 'PYPL.csv', 'QCOM.csv', 'RACE.csv', 'RTX.csv', 'SBUX.csv', 'SEDG.csv', 'SFIX.csv', 'SHOP.csv', 'SLB.csv', 'SLV.csv', 'SO.csv', 'SPCE.csv', 'SPOT.csv', 'SQ.csv', 'SY.csv', 'T.csv', 'TIF.csv', 'TMO.csv', 'TSLA.csv', 'TSM.csv', 'TWTR.csv', 'TXN.csv', 'ULTA.csv', 'UNH.csv', 'UPS.csv', 'UUP.csv', 'V.csv', 'VTI.csv', 'VZ.csv', 'WMT.csv', 'WORK.csv', 'XAG.csv', 'XAU.csv', 'XOM.csv', 'YUMC.csv', 'ZM.csv']

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,ts_code,Adj Close
0,2019-10-21,58.80,59.66,58.75,59.54,87247200,0.0,0.0,AAPL,0
1,2019-10-22,59.70,59.96,59.32,59.40,82293600,0.0,0.0,AAPL,0
2,2019-10-23,59.93,60.21,59.71,60.20,75828800,0.0,0.0,AAPL,0
3,2019-10-24,60.53,60.60,59.86,60.30,69275200,0.0,0.0,AAPL,0
4,2019-10-25,60.19,61.08,60.12,61.04,73477200,0.0,0.0,AAPL,0
5,2019-10-28,61.25,61.70,61.07,61.65,96572800,0.0,0.0,AAPL,0
6,2019-10-29,61.63,61.82,60.05,60.22,142839600,0.0,0.0,AAPL,0
7,2019-10-30,60.59,60.72,59.71,60.22,124522000,0.0,0.0,AAPL,0
8,2019-10-31,61.20,61.68,58.73,61.58,139162000,0.0,0.0,AAPL,0
9,2019-11-01,61.77,63.35,61.68,63.33,151125200,0.0,0.0,AAPL,0

In [5]:
alldata = alldata.sort_values(by=['ts_code','Date'],axis=0,ascending=[True,True])

alldata.reset_index(drop=True,inplace=True)
latestday=alldata.Date.max()
alldata.loc[alldata['Date']==latestday,'now_adj']=alldata['Adj Close'] # 最新复权因子
alldata.now_adj=alldata.now_adj.fillna(method='bfill')

#alldata.loc[alldata['ts_code']==alldata['ts_code'].shift(1),'now_adj']=alldata.now_adj.shift(1) # 最新复权因子

#alldata['Close'] = alldata['Close'] * alldata['Adj Close'] / alldata.now_adj  # 前复权 当日收盘价 × 当日复权因子 / 最新复权因子
alldata.shape
alldata

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,ts_code,Adj Close,now_adj
0,2019-10-21,58.80,59.66,58.75,59.54,87247200,0.0,0.0,AAPL,0,0.0
1,2019-10-22,59.70,59.96,59.32,59.40,82293600,0.0,0.0,AAPL,0,0.0
2,2019-10-23,59.93,60.21,59.71,60.20,75828800,0.0,0.0,AAPL,0,0.0
3,2019-10-24,60.53,60.60,59.86,60.30,69275200,0.0,0.0,AAPL,0,0.0
4,2019-10-25,60.19,61.08,60.12,61.04,73477200,0.0,0.0,AAPL,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
44245,2020-10-14,518.78,519.80,498.60,509.25,8327700,0.0,0.0,ZM,0,0.0
44246,2020-10-15,509.08,540.05,506.50,536.40,16520600,0.0,0.0,ZM,0,0.0
44247,2020-10-16,544.00,565.45,543.25,559.00,13745800,0.0,0.0,ZM,0,0.0
44248,2020-10-19,572.50,588.84,562.55,568.34,15193200,0.0,0.0,ZM,0,0.0
44249,2020-10-20,572.33,575.69,534.59,537.02,12016100,0.0,0.0,ZM,0,0.0

In [6]:
Xf=alldata[alldata['Open'].notna()]
Xf=Xf[Xf['ts_code'].notna()]

close=Xf.Close
diff, dea, my_macd = talib.MACD(close,
                                             fastperiod=12,
                                             slowperiod=26,
#获取均线的数据，通过timeperiod参数来分别获取 5,10,20 日均线的数据。
                                             signalperiod=9)
SMA5=talib.SMA(close,timeperiod=5)
SMA10=talib.SMA(close,timeperiod=10)
SMA20=talib.SMA(close,timeperiod=20)
SMA60=talib.SMA(close,timeperiod=60)
SMA120=talib.SMA(close,timeperiod=120)

EMA5=talib.EMA(close,timeperiod=5)
EMA10=talib.EMA(close,timeperiod=10)
EMA20=talib.EMA(close,timeperiod=20)
EMA60=talib.EMA(close,timeperiod=60)
EMA120=talib.EMA(close,timeperiod=120)

Xf['diff']=diff
Xf['dea']=dea
Xf['MACD']=my_macd
Xf['SMA5']=SMA5
Xf['SMA10']=SMA10
Xf['SMA20']=SMA20
Xf['SMA60']=SMA60
Xf['SMA120']=SMA120
Xf['EMA5']=EMA5
Xf['EMA10']=EMA10
Xf['EMA60']=EMA60
Xf['EMA120']=EMA120

Xf['EMA20']=EMA20
Xf['SMACD-K']=(diff-dea)/dea
Xf['C/S']=(close/SMA20-1)*100
Xf['M/L']=(SMA60/SMA120-1)*100
Xf['S/M']=(SMA20/SMA60-1)*100
Xf['BreakSignal-20D']=close/EMA20-1
Xf['Amount']=close*Xf.Volume
Xf.reset_index(drop=True, inplace=True)

Xf['ATR'] = talib.ATR(Xf.High.values,Xf.Low.values,Xf.Close.shift(1).values, timeperiod=20)

Xf.loc[Xf['ts_code'] == Xf['ts_code'].shift(1),'Chg1D']= (Xf.Close/Xf.Close.shift(1)-1)*100
Xf.loc[Xf['ts_code'] == Xf['ts_code'].shift(4),'Chg5D']= (Xf.Close/Xf.Close.shift(4)-1)*100
Xf.loc[Xf['ts_code'] == Xf['ts_code'].shift(19),'Chg20D']= (Xf.Close/Xf.Close.shift(19)-1)*100

Xf.fillna(0,inplace=True) #去除null
Xf.loc[(Xf['Close']>Xf['EMA20']) & (Xf['Close']>Xf['SMA20']) & (Xf['SMA20']>Xf['SMA20'].shift(19)),'KL1']=1 #破线拐头
Xf.loc[(Xf['EMA20']>Xf['EMA60']) & (Xf['Close']>Xf['EMA20'].shift(19)),'K2']=1 #双均线交叉
Xf.loc[(Xf['EMA20']>Xf['SMA60']) & (Xf['Close']>Xf['EMA20'].shift(19)),'K3']=1 
Xf.loc[(Xf['SMA20']>Xf['EMA60']) & (Xf['Close']>Xf['SMA20'].shift(19)),'K4']=1 
Xf.loc[(Xf['SMA20']>Xf['SMA60']) & (Xf['Close']>Xf['SMA20'].shift(19)),'K5']=1 

Xf.loc[(Xf['Close']<Xf['EMA20']) & (Xf['Close']<Xf['SMA20']) & (Xf['SMA20']<Xf['SMA20'].shift(19)),'KL1']=-1 #空头方向破线拐头
Xf.loc[(Xf['EMA20']<Xf['EMA60']) & (Xf['Close']<Xf['EMA20'].shift(19)),'K2']=-1 #双均线交叉
Xf.loc[(Xf['EMA20']<Xf['SMA60']) & (Xf['Close']<Xf['EMA20'].shift(19)),'K3']=-1 
Xf.loc[(Xf['SMA20']<Xf['EMA60']) & (Xf['Close']<Xf['SMA20'].shift(19)),'K4']=-1 
Xf.loc[(Xf['SMA20']<Xf['SMA60']) & (Xf['Close']<Xf['SMA20'].shift(19)),'K5']=-1 
Xf.fillna(0,inplace=True) #去除null
Xf['trendscore-L']=(Xf.KL1+Xf.K2+Xf.K3+Xf.K4+Xf.K5)

Xf.loc[(Xf['Close']>Xf['EMA10']) & (Xf['Close']>Xf['SMA10']) & (Xf['SMA10']>Xf['SMA10'].shift(19)),'KS1']=1 #破线拐头
Xf.loc[(Xf['EMA10']>Xf['EMA20']) & (Xf['Close']>Xf['EMA10'].shift(19)),'KK2']=1 #双均线交叉
Xf.loc[(Xf['EMA10']>Xf['SMA20']) & (Xf['Close']>Xf['EMA10'].shift(19)),'KK3']=1 
Xf.loc[(Xf['SMA10']>Xf['EMA20']) & (Xf['Close']>Xf['SMA10'].shift(19)),'KK4']=1 
Xf.loc[(Xf['SMA10']>Xf['SMA20']) & (Xf['Close']>Xf['SMA10'].shift(19)),'KK5']=1 

Xf.loc[(Xf['Close']<Xf['EMA10']) & (Xf['Close']<Xf['SMA10']) & (Xf['SMA10']<Xf['SMA10'].shift(19)),'KS1']=-1 #空头方向破线拐头
Xf.loc[(Xf['EMA20']<Xf['EMA20']) & (Xf['Close']<Xf['EMA10'].shift(19)),'KK2']=-1 #双均线交叉
Xf.loc[(Xf['EMA20']<Xf['SMA20']) & (Xf['Close']<Xf['EMA10'].shift(19)),'KK3']=-1 
Xf.loc[(Xf['SMA20']<Xf['EMA20']) & (Xf['Close']<Xf['SMA10'].shift(19)),'KK4']=-1 
Xf.loc[(Xf['SMA20']<Xf['SMA20']) & (Xf['Close']<Xf['SMA10'].shift(19)),'KK5']=-1 
Xf.fillna(0,inplace=True) #去除null
Xf['trendscore-S']=(Xf.KS1+Xf.KK2+Xf.KK3+Xf.KK4+Xf.KK5)

Xf.head(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,ts_code,Adj Close,...,K3,K4,K5,trendscore-L,KS1,KK2,KK3,KK4,KK5,trendscore-S
0,2019-10-21,58.80,59.66,58.75,59.54,87247200,0.0,0.0,AAPL,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019-10-22,59.70,59.96,59.32,59.40,82293600,0.0,0.0,AAPL,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2019-10-23,59.93,60.21,59.71,60.20,75828800,0.0,0.0,AAPL,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2019-10-24,60.53,60.60,59.86,60.30,69275200,0.0,0.0,AAPL,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019-10-25,60.19,61.08,60.12,61.04,73477200,0.0,0.0,AAPL,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2019-10-28,61.25,61.70,61.07,61.65,96572800,0.0,0.0,AAPL,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2019-10-29,61.63,61.82,60.05,60.22,142839600,0.0,0.0,AAPL,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2019-10-30,60.59,60.72,59.71,60.22,124522000,0.0,0.0,AAPL,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2019-10-31,61.20,61.68,58.73,61.58,139162000,0.0,0.0,AAPL,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2019-11-01,61.77,63.35,61.68,63.33,151125200,0.0,0.0,AAPL,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
latestday=max(Xf.Date)

valve=50000000 #以5000万美元为界限
Xf2=Xf[(Xf.Date==latestday) & (Xf.Amount > valve)]
Xf2=Xf2[['Date','ts_code','Close','Amount','Chg1D','Chg5D','Chg20D','C/S','S/M','M/L','ATR','KL1','KS1','trendscore-S','trendscore-L']]

Xf2

,Date,ts_code,Close,Amount,Chg1D,Chg5D,Chg20D,C/S,S/M,M/L,ATR,KL1,KS1,trendscore-S,trendscore-L
252,2020-10-20,AAPL,117.51,1.457173e+10,1.319193,-3.036554,9.699403,1.350652,0.579188,14.609402,5.030261,0.0,0.0,4.0,2.0
505,2020-10-20,ABT,108.36,4.184863e+08,0.296187,0.566125,5.830648,1.427910,2.329773,6.415820,2.964964,1.0,0.0,4.0,5.0
758,2020-10-20,ACN,230.39,4.109697e+08,1.834335,0.418428,0.278564,2.483464,-2.479015,6.317208,6.389291,0.0,0.0,-1.0,-3.0
1011,2020-10-20,ADBE,494.58,7.190699e+08,-0.125202,-2.316762,5.142541,0.509375,2.709605,8.164026,18.950678,0.0,0.0,4.0,4.0
1264,2020-10-20,AIG,30.65,1.680080e+08,1.861083,3.372681,15.966705,6.222600,-1.416174,-1.103208,1.201562,1.0,1.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40405,2020-10-20,WMT,143.90,6.966199e+08,0.664568,-0.027789,5.816604,1.846904,3.181836,5.120794,3.270722,1.0,1.0,5.0,5.0
40658,2020-10-20,WORK,30.81,2.980251e+08,-4.465116,-5.866178,16.837315,4.653533,1.730642,-4.971308,1.594735,1.0,0.0,4.0,4.0
43743,2020-10-20,XOM,33.70,7.761616e+08,0.837822,-1.317716,-2.006397,-1.271460,-10.907525,-7.333601,1.308035,-1.0,-1.0,-2.0,-5.0
43996,2020-10-20,YUMC,53.73,1.318695e+08,1.761364,0.599139,6.691819,1.526775,-0.985369,4.043591,1.395275,0.0,1.0,5.0,2.0
44249,2020-10-20,ZM,537.02,6.452886e+09,-5.510786,5.453117,7.290272,7.554253,30.824039,27.453063,33.866708,1.0,1.0,5.0,5.0

In [8]:
#找长期，中期乖离率高，但短期下杀严重，趋势却走好的
DF=Xf2[(Xf2['C/S']<0) & (Xf2['S/M']>3) & (Xf2['M/L']> 3) & (Xf2['trendscore-L']>=3)]
DF

,Date,ts_code,Close,Amount,Chg1D,Chg5D,Chg20D,C/S,S/M,M/L,ATR,KL1,KS1,trendscore-S,trendscore-L
27022,2020-10-20,ORCL,59.75,5.521617e+08,0.218048,-1.984908,1.754087,-0.266235,3.996910,3.466732,1.405569,0.0,0.0,4.0,4.0
35358,2020-10-20,TSLA,421.94,1.326778e+10,-2.063459,-8.532408,10.931749,-1.004989,8.808529,29.900780,30.949293,0.0,0.0,4.0,4.0

In [9]:
Xf2.to_csv(r'C:/quant/USoutput2.csv')

In [10]:
'''def price = close
def displace = 0
input ss = 20
input mm = 60
input ll = 120
input lookbackday = 30
 
def SMAss = Average(price[-displace], ss)
def SMAmm = Average(price[-displace], mm)
def SMAll = Average(price[-displace], ll)
def EMAss = ExpAverage(price[-displace], ss)

def cs = (price - SMAss) * 100 / SMAss
def sm = (SMAss - SMAmm) * 100 / SMAmm
def ml = (SMAmm - SMAll) * 100 / SMAll
 
def uptrend = price > EMAss and price > price[ss] and cs>0 and sm>0 and ml>0 #破线，拐头，多头排列
 
plot Scan = Average(cs[-displace], lookbackday)<0 and Average(sm[-displace], lookbackday)>5 and Average(ml[-displace], lookbackday)>5 and uptrend == 1
'''

'def price = close\ndef displace = 0\ninput ss = 20\ninput mm = 60\ninput ll = 120\ninput lookbackday = 30\n \ndef SMAss = Average(price[-displace], ss)\ndef SMAmm = Average(price[-displace], mm)\ndef SMAll = Average(price[-displace], ll)\ndef EMAss = ExpAverage(price[-displace], ss)\n\ndef cs = (price - SMAss) * 100 / SMAss\ndef sm = (SMAss - SMAmm) * 100 / SMAmm\ndef ml = (SMAmm - SMAll) * 100 / SMAll\n \ndef uptrend = price > EMAss and price > price[ss] and cs>0 and sm>0 and ml>0 #破线，拐头，多头排列\n \nplot Scan = Average(cs[-displace], lookbackday)<0 and Average(sm[-displace], lookbackday)>5 and Average(ml[-displace], lookbackday)>5 and uptrend == 1\n'